@import "_mixins.scss";

// Colors
$light-black: #2e414f;
$dark-primary: #001848;
$light-primary: #4f52b4;
$dark-gray: #6C7283;
$medium-gray: #bdc3d5;
$light-gray: #eaecf2;
$very-light-grey: #f7f7f9;
$white: white;
$orange: #fa9e73;

// Gradients
$yellow-pink-gradient: linear-gradient(to right,#fbdf3f, #f76195);

// Height
$header-height: 48px;

// Layers
$layer-header:100;
$layer-overlay: 500;
$layer-footer: 50;

// Size
$page-max-width: 1024px;

// Padding and margin
$page-padding-default: 32px;
$page-padding-y: 120px;
$page-margin-bottom: 164px;
$main-margin-top: 52px;

// Button
$button-corner-radius: 9999px;
$button-padding: 0 0.75rem;
$button-gap: 0.25rem;
$button-height-xs: 1.5rem;
$button-height-sm: 2rem;

// Transitions
$ease-out-quad: cubic-bezier(0.25,0.46,0.45,0.94);
$ease-in-quad: cubic-bezier(0.55,0.085,0.68,0.53);

// Font sizes
$font-xs: 0.625rem;
$font-sm: 0.9rem;
$font-normal: 1rem;
$font-lg: 1.125rem;
$font-xl: 2rem;

* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  background-color: $white;
  text-align: center;
  color: $light-black;
  height: 100%;
  min-height: 100vh;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}

h3 {
  font-weight: normal;
  font-size: $font-lg;
  color: lighten($dark-primary, 10%);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

button, input, select, div, span, table, tr, td, a, ul, li {
  font-family: inherit;
  font-variation-settings: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  padding-top: $header-height;
}

.main-content {
  width: 100%;
  overflow-x: hidden;
  margin-top: calc(-1 * $header-height);
  padding-top: $header-height;
  padding-left: $page-padding-default;
  padding-right: $page-padding-default;
  margin-bottom: -$page-margin-bottom;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  max-width: 950px;
}

.header {
  display: block;
  position: fixed;
  height: $header-height;
  width: 100%;
  margin: 0 auto;
  padding-left: $page-padding-default;
  padding-right: $page-padding-default;
  background-color: $white;

  p {
    color: lighten($dark-primary, 10%);
    font-weight: 300;
  }
}

.logo {
  width: fit-content;
  position: relative;
  padding-top: 11.5px;

  p {
    position: fixed;
    left: calc(103px) + $page-padding-default;
    top: 20px;
  }
}

.search {
  margin-top: $main-margin-top;
  margin-bottom: 54px;
}

.search-bar {
  padding: 0 1rem;
  flex: 1 1 auto;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  background-color: $very-light-grey;
  @include border(darken($very-light-grey, 5%), 0.5rem);

  input {
    appearance: none;
    background: transparent;
    height: 3.5rem;
    margin-left: .75rem;
    margin-right: 1rem;
    flex: auto;
    min-width: 0;
    font-size: 1rem;
    border: 0;
    width: 100%
  }

  input:focus {
    outline: none;
  }
}

.primary-button {
  @include button($button-height-sm, $light-primary, $white, $font-sm, $light-primary);
  @include hover {
    color: $white;
    filter: brightness(115%);
  }
  transition: .16s $ease-out-quad;
  transition-property: border, background-color, color, box-shadow, opacity, filter, transform;
}

.secondary-button {
  @include button($button-height-sm, $white, $light-primary, $font-sm, $light-primary);
  @include hover {
    color: $white;
    background-color: $light-primary;

    svg {
      fill: $white
    }
  }
  transition: .16s $ease-out-quad;
  transition-property: border, background-color, color, box-shadow, opacity, filter, transform;
}

.highlight-button {
  @include button($button-height-sm, transparent, $white, $font-sm, transparent, $yellow-pink-gradient);
  border-width: 0px;
  font-weight: 500;
  @include hover {
    color: $white;
    filter: brightness(110%);
  }
  transition: .16s $ease-out-quad;
  transition-property: border, background-color, color, box-shadow, opacity, filter, transform;

  svg {
    width: 0.625rem;
  }
}

.text-button {
  @include button($button-height-xs, transparent, lighten($light-primary, 1%), $font-sm, transparent, none, 0);
  align-items: baseline;
  background-color: transparent;
}

.accordion-button {
  @include button(1.5rem, transparent, $dark-gray, 1rem, transparent, none, 1px);
  background-color: transparent;
}

.icon-button {
  @include button(1.375rem, transparent, $light-black, $font-normal, transparent, none, 0);
  align-items: baseline;
  @include border(transparent, 0.2rem);
  @include hover {
    background-color: $light-gray;
  }

  svg {
    stroke-width: 2;
  }
}

.loader {
  width: 1.5rem;
  padding: 0.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: $light-primary;
  --_m:
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.abstract {
  p {
    display: inline;
  }
}

.info-row {
  .label {
    color: $dark-gray;
  }

  .info {
    padding-left: 1rem;
    font-weight: 500;
    color: lighten($dark-primary, 15%);
  }
}

.tag {
  width: fit-content;
  font-size: $font-sm;
  background-color: $light-gray;
  color: $light-black;
  margin: 0;
  padding-inline: 0.2rem;

  @include variant('.primary') {
    background-color: transparent;
    color: $light-primary;
    @include border(lighten($light-primary, 15%), 0);
  }
}

.posts-list {
  margin-bottom: 1rem;
}

.paper-object {
  text-align: left;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: 1px solid $light-gray;

  &:last-child {
    border-bottom: 0;
  }
}

.dropdown {
  position: relative;
  display: flex;
  max-width: 5rem;

  button {
    @include button($button-height-sm, $very-light-grey, $light-black, $font-sm, darken($very-light-grey, 5%));
    justify-content: space-between;
    width: 100%;

    svg {
      fill: $light-black;
      width: $font-xs;
      height: $font-xs;
    }
  }

  ul {
    @include button(fit-content, $very-light-grey, $light-black, $font-sm, darken($very-light-grey, 5%), none, 0);
    border-radius: 0.5rem;
    position: absolute;
    min-width: 1.6rem;
    top: 100%;
    background-color: $very-light-grey;
    gap: 0;
    flex-direction: column;
    width: 100%;

    li {
      cursor: pointer;
      width: 100%;
      padding: 0.25rem 0 0.25rem 0;

      &:first-child {
        border-radius: 0.5rem 0.5rem 0 0;
      }

      &:last-child {
        border-radius: 0 0 0.5rem 0.5rem;
      }

      @include hover {
        background-color: darken($very-light-grey, 10%);
      }
    }
  }
}

.description {
  color: $dark-gray;
  font-weight: 300;
}

.search-insights {
  width: 100%;
  color: $medium-gray;
  text-align: left;

  .description-row {
    height: 3rem;
    @include flex(1.5rem, row);
    align-items: center;
  }

  .chart {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @include border(darken($very-light-grey, 5%), 0.5rem);
    padding: 1rem;
    color: lighten($dark-gray, 5%);

    .card-header {
      width: 100%;
      justify-content: space-between;

      p {
        font-weight: 600;
        color: $light-primary;
        font-size: 1.1rem;
      }
    }

    .main-label {
      font-weight: 500;
      font-size: $font-sm;
      color: darken($dark-gray, 10%);
      padding-right: 0.5rem;
    }

    .message {
      padding: 0.5rem;
      justify-content: center;
    }

    .main-body {
      @include flex(1.5rem);

      .stats-card {
        .main-value-container {
          text-align: center;
          color: darken($light-primary, 5%);

          .value {
            font-size: $font-xl;
            font-weight: 300;
          }

          .label {
            font-size: $font-normal;
            color: darken($light-primary, 5%);
          }
        }

        .details {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-content: center;
          flex-wrap: wrap;
          font-size: $font-sm;

          .label {
            text-align: center;
            font-weight: 500;
          }

          .word-container {
            align-self: center;
            width: max-content;
          }
        }

        .percentage-bar{
          height: 1em;
          width: 4em;
          background-color: lighten($medium-gray, 10%);

          .fill {
            width: 50%;
            height: 1em;
            background-color: $orange;
          }
        }
      }

      .stats-grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 0.5rem;
        @include md {
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }
      }
    }

  }
}

.welcome-view {
  width: 100%;
  @include flex(2rem, column);

  .welcome-header {
    text-align: left;
    font-size: $font-lg;
    color: lighten($dark-primary, 10%);
    font-weight: 500;
  }

  .help-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;

    .sample-query {
      width: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      @include border($light-primary, 0.75rem);
      color: $light-primary;
      background-color: transparent;
      font-size: $font-normal;
      @include hover {
        color: $white;
        background-color: $light-primary;
      }

      transition: .16s $ease-out-quad;
      transition-property: border, background-color, color, box-shadow, opacity, filter, transform;

      div {
        text-align: left;
      }

      .query-title {
        font-weight: 500;
      }

      .query-description {
        font-weight: 300;
      }

    }
  }
}

// Utility classes
.flex-col {
  @include flex(0.5rem)
}

.flex-row {
  @include flex(0.5rem, row);
  align-items: center;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.text-sm {
  font-size: $font-sm;
}

.text-bold {
  font-weight: 600;
}

.justify-between {
  justify-content: space-between;
}
